<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.ecloga.dashbug">

    <application android:allowBackup="false">

        <activity android:name=".FieldsActivity"
                  android:launchMode="singleInstance"
                  android:theme="@style/DashbugTheme"
                  android:label="@string/lib_name"/>
    </application>
</manifest>